*.beam
*.ez
/build
erl_crash.dump
/examples/.lustre
/examples/build
/examples/dist/node_modules
/examples/dist/*.json
/generator/generator
/generator/custom-elements.json
/generator/schema.json
/m3esync/m3esync
