
pub fn {{.SnakeName}}_default_config_test() {
  let cases = [
    Config(
{{- range .Attributes }}
      {{ .SnakeName }}: {{ .QualifiedDefault }},
{{- end }}
    ),
  ]

  list.each(cases, fn(c) {
    let expected = c

    {{.SnakeName}}.default_config()
    |> should.equal(expected)
  })
}
