
pub fn {{.ModName}}_default_config_test() {
  let cases = [
    Config(
{{ range $key, $value := .Values }}
      {{ $key }}: {{ $value }},
{{- end }}
    ),
  ]

  list.each(cases, fn(c) {
    let expected = c

    {{.ModName}}.default_config()
    |> should.equal(expected)
  })
}
