{{ $count := len .Attributes -}}
{{- $tag := .Tag }}
{{ $snake := .SnakeName }}pub fn {{ .SnakeName }}_render_test() {
{{- if eq $count 1 -}}
{{ $only := index .Attributes 0 -}}
{{ template "render_single.tmpl" (dict "Snake" $snake "QualifiedDefault" $only.QualifiedDefault "Name" $only.SnakeName "Value" $only.Test.Value) }}
{{- else }}
{{ template "render_multiple.tmpl" (dict "Snake" $snake "Attributes" .Attributes) }}
{{- end }}
{{- if .HasChildren }}
{{ template "render_cases_with_children.tmpl" (dict "Snake" $snake "Tag" $tag "A" .Attributes) }}
{{- else -}}
{{ template "render_cases_without_children.tmpl" (dict "Snake" $snake "Tag" $tag "A" .Attributes) }}
{{- end -}}
