{{ $count := len .Attributes -}}
{{- $tag := .Tag }}
{{ $snake := .SnakeName }}pub fn {{ .SnakeName }}_render_test() {
{{- if eq $count 1 -}}
{{ $only := index .Attributes 0 -}}
{{ template "render_single.tmpl" (dict "Snake" $snake "QualifiedDefault" $only.QualifiedDefault "Name" $only.Name "Value" $only.Test.Value) }}
{{- else }}
{{ template "render_multiple.tmpl" (dict "Snake" $snake "Attributes" .Attributes) }}
{{- end }}

  let cases = [
    // Happy path with no attributes nor children
    #(#(mod, [], []), element.element("{{ $tag }}", [], [])),
    // Happy path with no children
    #(
      #(mod, [attribute.id("id")], []),
      element.element("{{ $tag }}", [attribute.id("id")], []),
    ),
    // Happy path with no attributes
    #(
      #(mod, [], [html.br([])]),
      element.element("{{ $tag }}", [], [html.br([])]),
    ),
{{ range .Attributes }}
    // Happy path with a {{ .Name }} attribute
    #(
      #(mod_{{ .Name }}, [], []),
      element.element("{{ $tag }}", [attribute.attribute("{{ .Name }}", {{ printf "%s" .Test.AttributeValue }})], []),
    ),
{{- end }}
  ]

  list.each(cases, fn(c) {
    let #(#(mod, attributes, children), expected) = c

    {{ $snake }}.render(mod, attributes, children)
    |> should.equal(expected)
  })
}
