
{{ $name := .SnakeName }}pub fn {{ $name }}_slot_test() {
  let cases = [
{{- range .Slots }}
    #({{$name}}.{{ .CamelName }}, attribute.attribute("slot", "{{ .Attribute }}")),
{{- end }}
  ]

  list.each(cases, fn(c) {
    let #(s, expected) = c

    {{$name}}.slot(s)
    |> should.equal(expected)
  })
}
