{{$count := len .Values}}
// --- Constructors ---
{{ if gt $count 1 }}
{{template "constructors_from_string.tmpl" .}}
{{- end }}
/// new creates a new {{ .ModName}} with the default configuration.
///
{{- if eq $count 0 -}}
{{template "constructors_new_zero.tmpl" .}}
{{- else if eq $count 1 -}}
{{template "constructors_new_one.tmpl" .}}
{{- else -}}
{{template "constructors_new_multi.tmpl" .}}
{{- end -}}
