{{ define "constructors_new_one.tmpl" }}
pub fn new({{- range .Values -}}
{{ .Name }}: {{ .Type }}
{{- end }}) -> {{ .ModName }} {
  {{ .ModName }}(
{{- range .Values -}}
    {{ .Name }}: {{ .Name }}
{{- end }})
}
{{ end }}
