{{ define "constructors_new_one.tmpl" }}
pub fn new({{- range .Attributes -}}
{{ .SnakeName }}: {{ .Type }}
{{- end }}) -> {{ .Name }} {
  {{ .Name }}(
{{- range .Attributes -}}
    {{ .SnakeName }}: {{ .SnakeName }}
{{- end }})
}
{{ end }}
