{{ define "constructors_new_one.tmpl" }}
pub fn new({{- range .Attributes -}}
{{ .Name }}: {{ .Type }}
{{- end }}) -> {{ .Name }} {
  {{ .Name }}(
{{- range .Attributes -}}
    {{ .Name }}: {{ .Name }}
{{- end }})
}
{{ end }}
