{{ define "declaration_enums.tmpl" }}
{{- range .Attributes -}}
{{- if ne .Enum "" }}
/// {{ .Name }} is {{ .Description }}
///
pub type {{ .Name }} {
 Is{{ .Name }}
 IsNot{{ .Name }}
}
{{- end -}}
{{ end }}
{{ end -}}
