{{ define "declaration_enums.tmpl" }}
{{- range .Attributes -}}
{{- if ne .SemBool "" }}
/// {{ getDescription .Type .Description }}
///
pub type {{ .Type }} {
 Is{{ .Type }}
 IsNot{{ .Type }}
}
{{- end -}}
{{ end }}
{{ end -}}
