{{$count := len .Attributes}}
// --- Types ---

/// {{ .ModName }} is a View Model for this component
///
{{- if .Attributes }}
/// ## Fields:
///
{{- end }}
{{- range .Attributes }}
/// - {{ .Name }}: {{ .Description }}
{{- end }}
{{- if .Attributes }}
///
{{- end }}
pub opaque type {{ .ModName }} {
{{- if gt $count 0 }}
 {{ .ModName }}(
{{- range .Attributes }}
   {{ .Name }}: {{ .Type }},
{{- end }}
 )
}
{{- else }}
 {{ .ModName }}()
}
{{- end -}}
{{- range .Enumerations }}

/// {{ .Name }} is {{ .Description }}
///
pub type {{ .Name }} {
 Is{{ .Name }}
 IsNot{{ .Name }}
}
{{- end }}
{{- if .Defaults }}

// --- Defaults ---

{{- range $key, $value := .Defaults }}

pub const default_{{ $key }}: {{ $value.Type }} = {{ printf "%s" $value.Value }}
{{- end }}
{{- end }}
