{{ define "declaration_enums.tmpl" }}
{{- range .Attributes -}}
{{- if ne .Enum "" }}
/// {{ .Type }} is {{ .Description }}
///
pub type {{ .Type }} {
 Is{{ .Type }}
 IsNot{{ .Type }}
}
{{- end -}}
{{ end }}
{{ end -}}
