{{ define "renderers_config.tmpl" }}{{$count := len .Attributes}}
{{ if gt $count 1 }}
/// render_config creates a Lustre Element from a {{.Name}} Config
///
pub fn render_config(
 c: Config,
 attributes: List(Attribute(msg)),
{{ if .HasChildren }}
 children: List(Element(msg)),
{{ end }}
) -> Element(msg) {
{{ if .HasChildren }}
 render(from_config(c), attributes, children)
{{ else }}
 render(from_config(c), attributes)
{{- end -}}
}
{{- end }}
{{ end }}
