{{$count := len .Attributes}}
// --- Renderers ---

/// render creates a Lustre Element for a {{.Name}}
///
pub fn render(
{{- if gt $count 0 }}
 model: {{.Name}},
{{- else -}}
 _: {{.Name}},
{{- end }}
 attributes: List(Attribute(msg)),
 children: List(Element(msg)),
) -> Element(msg) {
 element.element(
   "{{.Tag}}",
{{- if gt $count 0 }}
   list.flatten([
     [
{{- range .Attributes}}
       {{.}},
{{- end}}
     ],
     attributes,
   ])
     |> list.filter(fn(a) { a != attribute.none() }),
{{- else -}}
   attributes,
{{- end -}}
   children,
 )
}

{{ template "renderers_config.tmpl" . -}}
