{{ $module := .Name }}{{ $count := len .Attributes }}
// --- Setters ---
{{ range $index, $val := .Attributes }}
{{- /* Add a blank line between functions */}}
{{- if $index }}{{ "\n" }}{{ end }}
/// {{ $val.SnakeName }} sets the value of {{ $val.SnakeName }} for this {{ $module }}.
///
{{ getSignature $count $val.SnakeName $module $val.Type }} {
 {{- if gt $count 1 }}
 {{ $module }}(..record, {{ $val.SnakeName }}: {{ $val.SnakeName }})
 {{- else }}
 {{ $module }}({{ $val.SnakeName }}: {{ $val.SnakeName }})
 {{- end }}
}
{{- end }}
